PROJECT_NAME=PROJECT_NAME

# Node
NODE_PORT=NODE_PORT

#MYSQL
MYSQL_DATABASE=MYSQL_DATABASE
MYSQL_USER=MYSQL_USER
MYSQL_PASSWORD='MYSQL_PASSWORD'
MYSQL_ROOT_PASSWORD='MYSQL_ROOT_PASSWORD'
MYSQL_PORT=MYSQL_PORT

#Telegram
TOKEN='TOKEN'